extends layout


block content
  .row
    #phone-body
      #phone-screen
        .image-wrapper
          img(src='https://lh3.googleusercontent.com/-w3tSTjRy9zg/VkOPbsFaIdI/AAAAAAAAACE/WnMzOPFVALgqBFT9vGgVqkk5wtdQCDSjA/s408-k-no/')
          img(src='https://www.towson.edu/ehs/images/aed-stephens-sq.jpg')
        .address-wrapper
          .address
            p 363 W Broadway
            p 4th Floor
          .directions
            img(src="/images/man.png")
            p 3 min
