extends layout

block content
  // h1= title
  // p Welcome to #{title}
  .row
    .navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        form#address.navbar-form.navbar-left(role="search")
          .form-group
            input.form-control(type="text", 
            placeholder="CALLER LOCATION")

        #logo.navbar-brand.navbar-right
          img(src="images/logo.png" alt="HeartFleet")

        #dispatch.cloaked.navbar-brand.navbar-right
          .circle
          img(src="images/circled.png")
          p DISPATCH
  .row
    #map-container
      #map
  // .row
  //   .dispatch-wrapper
  //     button.btn.btn-primary.btn-block#is-a-boss Who's a boss? Max is a boss!
