extends layout

block content
  // h1= title
  // p Welcome to #{title}
  #page-wrapper
    .container-fluid
      .row
        #search-bar.navbar.navbar-inverse.navbar-fixed-top
          .container-fluid

            // button.btn.btn-primary.btn-lg(type="button", data-toggle="modal", data-target="#delivered-modal") launch modal

            form#address.navbar-form.navbar-left(role="search")
              .form-group
                input.form-control(type="text", 
                placeholder="CALLER LOCATION")

            #logo.navbar-brand.navbar-right
              img(src="images/logo.png", alt="HeartFleet")

            #dispatch.cloaked.navbar-brand.navbar-right
              .circle
              img(src="images/circled.png")
              p DISPATCH

        #progress-bar.navbar.navbar-fixed-top.hide
          .container-fluid
            span.bar
            span#eta.navbar-brand.navbar-right
              span#minutes 00
              span :
              span#seconds 30 
              span  AED ETA

      .row
        #map-container
          #map

      #delivered-modal.modal.fade(tabindex="-1", role="dialog")
        .modal-dialog.modal-lg(role="document")
          .modal-content
            .modal-body
              img(src='/images/circled.png')
              p AED Delivered!
              button.btn.btn-primary(data-dismiss="modal") Dismiss


  script(src="/javascripts/mymap.js")
