doctype html
html
  head
    title= title
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1,user-scalable=no")

    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel="stylesheet", href="https://js.arcgis.com/3.16/dijit/themes/tundra/tundra.css")
    link(rel="stylesheet", href="https://js.arcgis.com/3.16/esri/css/esri.css")
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,700', rel='stylesheet', type='text/css')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/phone.css')

  body.tundra
    #page-wrapper
      .container-fluid
        block content

      script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
      script(src="javascripts/jquery.csv.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
      script(src="https://js.arcgis.com/3.16/")
      script(src="javascripts/mymap.js")
      script(src="javascripts/script.js")
